<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029771182282-2s2tppggfshbpb7hd02mnj8a6jd04njv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029771182282-2s2tppggfshbpb7hd02mnj8a6jd04njv</string>
	<key>API_KEY</key>
	<string>AIzaSyByK5qNZzKxROwGyK-iju0Kg8zyJjiVrsU</string>
	<key>GCM_SENDER_ID</key>
	<string>1029771182282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterNotificaciones</string>
	<key>PROJECT_ID</key>
	<string>notificaciones-6804d</string>
	<key>STORAGE_BUCKET</key>
	<string>notificaciones-6804d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029771182282:ios:289fa195664d07c16cf433</string>
</dict>
</plist>